<div ng-controller="newsCtrl" ng-init="getNews()">
    <h2>ข่าวสาร</h2>
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary" ng-click="newData()" ng-if="authService.isUserLoggedIn()">เพิ่มข่าวประชาสัมพันธ์</button>
            <button ng-click="CurrentView = 'list'" class="btn btn-default"><i class="fa fa-th"></i></button>
            <button ng-click="CurrentView = 'detail'" class="btn btn-default"><i class="fa fa-list"></i> </button>
        </div>
        <div class="col-sm-6">
            <input type="search" ng-model="query" placeholder="Search News" class="form-control">
        </div>
    </div>
    <div id="div-datatable">
        <div ng-switch="CurrentView">
            <div ng-switch-when="list">
                <div class="card-columns">
                    <div class="card" ng-repeat="list in news| filter: query">
                        <img class="card-img img-fluid" src="./public/news/title/{{list.filename}}"
                            ng-if="list.filename != ''">
                        <img class="card-img img-fluid" src="./public/images/nopic.jpg" ng-if="list.filename == ''">
                        <div class="card-block">
                            <h2 class="card-title"><a href="#/news/{{list.id}}">{{list.title}} </a></h2>
                            <p class="card-text">{{list.detail}}</p>
                            <p class="card-text"><small class="text-muted">By {{list.source}} {{list.created}}</small></p>
                            <p ng-if="authService.isUserLoggedIn()">
                                <a href="#/newsTitleUpload/{{list.id}}" class="card-link"><i
                                        class="fa fa-camera"></i></a>
                                <a href="" ng-click="editData(list)" class="card-link"><i class="fa fa-edit"></i></a>
                                <a href="" ng-click="delData(list)" class="card-link"><i class="fa fa-trash-o"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-switch-when="detail">
                <table class="table table-responsive">
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Source</th>
                        <th>Date</th>
                        <th ng-if="authService.isUserLoggedIn()">Modify</th>
                    </tr>
                    <tr ng-repeat="list in news| filter: query">
                        <td>
                            <img src="./public/images/nopic.jpg" ng-if="list.filename == ''" class="img-fluid"
                                width="90">
                            <img src='./public/news/title/{{list.filename}}' ng-if="list.filename != ''"
                                class="img-fluid">
                        </td>
                        <td><a href="#/news/{{list.id}}"> {{list.title}} </a><p>{{list.detail}} </p></td>
                        <td>{{list.source}}</td>
                        <td>{{list.created}}</td>
                        <td ng-if="authService.isUserLoggedIn()">
                            <a href="" ng-click="editData(list)"><i class="fa fa-edit"></i></a>
                            <a href="" ng-click="delData(list)"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="div-editbox" style="display:none">
        <form class="form-horizontal">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">หัวเรื่อง :</label>
                <div class="col-sm-10">
                    <input ng-model="frm.title" type="text" class="form-control" placeholder="ระบุหัวเรื่อง">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">รายละอียด :</label>
                <div class="col-sm-10">
                    <textarea ng-model="frm.detail" class="form-control" rows="4"
                        placeholder="ระบุรายละเอียด"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">แหล่งที่มา :</label>
                <div class="col-sm-10">
                    <input ng-model="frm.source" type="text" class="form-control" placeholder="แหล่งให้ข้อมูล">
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button class="btn btn-primary" ng-click="saveData(frm)">Save</button>
                    <button class="btn btn-warning" ng-click="cancelData()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>