<div class="container">
    <div class="row" ng-controller="newsDetailCtrl">
        <div class="col-sm-8">
            <div class="pdf-body">
                <ng-pdf template-url="views/pdfViewer.html" scale="page-fit" page="1" usecredentials="false"
                    debug="false">
                </ng-pdf>
            </div>
        </div>
        <div class="col-sm-4">
            <ul class="list-group list-group-flush" ng-init="getNewsFiles()">
                <li class="list-group-item" ng-repeat="list in newsFiles"><i class="fa fa-file-pdf-o"></i>
                    <a href="#/newsPdf/{{newsID}}/{{list.files}}">{{list.filename}} </a>
                </li>
            </ul>
           
            <div ng-controller="newsCtrl">
                <div ng-init="getNews()">
                    <div class="form-row">
                        <h3>News</h3>
                        <input ng-model="query" class="form-control" placeholder="Filter">
                    </div>
                    <table class="table table-responsive">
                        <tr ng-repeat="list in news| filter: query">
                            <td>
                                <img src="./public/images/nopic.jpg" ng-if="list.filename == ''" class="img-fluid">
                                <img src='./public/news/title/{{list.filename}}' ng-if="list.filename != ''"
                                    class="img-fluid">
                            </td>
                            <td>
                                <a href="#/news/{{list.id}}"> {{list.title}}
                                    <br /> {{list.detail}}</a>
                                <br />{{list.source}}
                                <br />{{list.created}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>